{% autoescape off %}

Dear {{ user.first_name }},

We hope this email finds you well.

We are writing to confirm that we have received your {{ order.order_number }}order. Total amount of your order:{{ order.order_total }}

We appreciate your business and want to assure you that our team is already working on processing your order promptly.

Should you have any questions or require further assistance, please do not hesitate to contact us. We are here to ensure that your experience with us is nothing short of exceptional.

Thank you for choosing our company. We look forward to serving you and hope to exceed your expectations.

Warm regards,
eShop Team
{% endautoescape %}